* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  padding: 1em;
}
h2,
h3 {
  padding: 1em 0 0.5em;
}
p {
  padding-bottom: 1em;
}
.products-container {
  width: 100vw;
  max-width: 55em;
  padding: 2em;
}
.cart-container {
  display: flex;
  flex-direction: column;
}
.checkout-container {
  padding: 2em;
  background: #efefef;
}
.products,
.cart {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.products > div {
  width: calc(100vw / 4);
  background: #f5f5f5;
  margin: 1em;
  padding: 2em;
}

.products > div img {
  max-width: 175px;
  height: auto;
}

.products > div h3 {
  font-weight: 800;
}

.cart > div {
  border: 1px solid #ccc;
  margin: 1em;
  padding: 2em;
}
.checkout-container {
  width: 100vw;
}
.checkout {
  margin-bottom: 4em;
}

button {
  border: 1px solid #ccc;
  background: #fff;
  padding: 1em;
  transition: 0.2s ease all;
  text-transform: uppercase;
}
button.pay {
  background: #f5f5f5;
  vertical-align: middle;
}
button:hover {
  background: rgb(93, 120, 118);
  color: #fff;
  cursor: pointer;
}

.received {
  font-size: 1.5em;
  padding: 0.3em;
  border: 1px solid #ccc;
  vertical-align: middle;
}
